MPS4/Service References/GTRSServiceReference/OcsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://vtrs.viasor.no/service/ocs" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://vtrs.viasor.no/service/ocs/TravelRequestData.xsd" xmlns:s0="http://vtrs.viasor.no/service/ocs/TravelRequestMessages.xsd" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://vtrs.viasor.no/service/ocs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://vtrs.viasor.no/service/ocs/TravelRequestMessages.xsd">
      <s:import namespace="http://vtrs.viasor.no/service/ocs/TravelRequestData.xsd" />
      <s:element name="AddPassenger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="passenger" type="s1:passenger" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPassengerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="passengerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="s1:credentials" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userDetails" type="s1:userDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPassenger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="passengerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPassengerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelTravelRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="travelRequestID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelTravelRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTravelRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="travelRequest" type="s1:travelRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTravelRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="travelRequestID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassenger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="passengerUpdate" type="s1:passengerUpdate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassengerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTravelRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="travelRequestUpdate" type="s1:travelRequestUpdate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTravelRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewTravelRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="travelRequestID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewTravelRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ocsTransactions" type="s1:ArrayOfOcsTransaction" />
            <s:element minOccurs="0" maxOccurs="1" name="ocsHotels" type="s1:ArrayOfOcsHotel" />
            <s:element minOccurs="0" maxOccurs="1" name="ocsCarRentals" type="s1:ArrayOfOcsCarRental" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewTravelRequestByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewTravelRequestByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ocsTransactions" type="s1:ArrayOfOcsTransaction" />
            <s:element minOccurs="0" maxOccurs="1" name="ocsHotels" type="s1:ArrayOfOcsHotel" />
            <s:element minOccurs="0" maxOccurs="1" name="ocsCarRentals" type="s1:ArrayOfOcsCarRental" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://vtrs.viasor.no/service/ocs/TravelRequestData.xsd">
      <s:complexType name="passenger">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="employeeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dateOfBirth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="placeOfBirth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passportNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passportIssuedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passportExpiryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passportPlaceIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seamansBookNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seamanIssuedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seamanExpiryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seamanPlaceIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="position" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nearestAirport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nationality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cellphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alternateAirport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recruitingOffice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="frequentFlyerMemberShip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="frequentFlyerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="visa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="earliestArrival" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="latestArrival" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="earliestDeparture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="requestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="travelRequestID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="userDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="departmentID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="travelRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="vesselName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="portName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dueDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="leadTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="etae" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="etal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="etd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nearestAirport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="departmentID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="passengerUpdate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="employeeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dateOfBirth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="placeOfBirth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passportNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passportIssuedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passportExpiryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passportPlaceIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seamansBookNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seamanIssuedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seamanExpiryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seamanPlaceIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="position" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nearestAirport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nationality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cellphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alternateAirport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="recruitingOffice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="frequentFlyerMemberShip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="frequentFlyerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="visa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="earliestArrival" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="latestArrival" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="earliestDeparture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="requestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="travelRequestID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passengerID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="travelRequestUpdate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="vesselName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="portName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dueDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="leadTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="etae" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="etal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="etd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="allocation3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nearestAirport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="departmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="travelRequestID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOcsTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ocsTransaction" type="s1:ocsTransaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ocsTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="employeeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itemType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amaName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flightnumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="classOfService" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="origin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="departureTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="destinationDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="arrivalTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="freeText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="costRatingDivision" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="costRating" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOcsHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ocsHotel" type="s1:ocsHotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ocsHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="employeeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="checkIn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="checkOut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hotelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hotelCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hotelAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOcsCarRental">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ocsCarRental" type="s1:ocsCarRental" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ocsCarRental">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="employeeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="carRentalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pickUpDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pickUpLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dropOffDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dropOffLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amaCarRefNo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPassengerSoapIn">
    <wsdl:part name="addPassenger1" element="s0:AddPassenger" />
  </wsdl:message>
  <wsdl:message name="AddPassengerSoapOut">
    <wsdl:part name="AddPassengerResult" element="s0:AddPassengerResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="authenticateUser1" element="s0:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="AuthenticateUserResult" element="s0:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="CancelPassengerSoapIn">
    <wsdl:part name="cancelPassenger1" element="s0:CancelPassenger" />
  </wsdl:message>
  <wsdl:message name="CancelPassengerSoapOut">
    <wsdl:part name="CancelPassengerResult" element="s0:CancelPassengerResponse" />
  </wsdl:message>
  <wsdl:message name="CancelTravelRequestSoapIn">
    <wsdl:part name="cancelTravelRequest1" element="s0:CancelTravelRequest" />
  </wsdl:message>
  <wsdl:message name="CancelTravelRequestSoapOut">
    <wsdl:part name="CancelTravelRequestResult" element="s0:CancelTravelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTravelRequestSoapIn">
    <wsdl:part name="createTravelRequest1" element="s0:CreateTravelRequest" />
  </wsdl:message>
  <wsdl:message name="CreateTravelRequestSoapOut">
    <wsdl:part name="CreateTravelRequestResult" element="s0:CreateTravelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePassengerSoapIn">
    <wsdl:part name="updatePassenger1" element="s0:UpdatePassenger" />
  </wsdl:message>
  <wsdl:message name="UpdatePassengerSoapOut">
    <wsdl:part name="UpdatePassengerResult" element="s0:UpdatePassengerResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTravelRequestSoapIn">
    <wsdl:part name="updateTravelRequest1" element="s0:UpdateTravelRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateTravelRequestSoapOut">
    <wsdl:part name="UpdateTravelRequestResult" element="s0:UpdateTravelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ViewTravelRequestSoapIn">
    <wsdl:part name="viewTravelRequest1" element="s0:ViewTravelRequest" />
  </wsdl:message>
  <wsdl:message name="ViewTravelRequestSoapOut">
    <wsdl:part name="ViewTravelRequestResult" element="s0:ViewTravelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ViewTravelRequestByDateSoapIn">
    <wsdl:part name="viewTravelRequestByDate1" element="s0:ViewTravelRequestByDate" />
  </wsdl:message>
  <wsdl:message name="ViewTravelRequestByDateSoapOut">
    <wsdl:part name="ViewTravelRequestByDateResult" element="s0:ViewTravelRequestByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="OCSService">
    <wsdl:operation name="AddPassenger">
      <wsdl:input message="tns:AddPassengerSoapIn" />
      <wsdl:output message="tns:AddPassengerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelPassenger">
      <wsdl:input message="tns:CancelPassengerSoapIn" />
      <wsdl:output message="tns:CancelPassengerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelTravelRequest">
      <wsdl:input message="tns:CancelTravelRequestSoapIn" />
      <wsdl:output message="tns:CancelTravelRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTravelRequest">
      <wsdl:input message="tns:CreateTravelRequestSoapIn" />
      <wsdl:output message="tns:CreateTravelRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassenger">
      <wsdl:input message="tns:UpdatePassengerSoapIn" />
      <wsdl:output message="tns:UpdatePassengerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTravelRequest">
      <wsdl:input message="tns:UpdateTravelRequestSoapIn" />
      <wsdl:output message="tns:UpdateTravelRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewTravelRequest">
      <wsdl:input message="tns:ViewTravelRequestSoapIn" />
      <wsdl:output message="tns:ViewTravelRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewTravelRequestByDate">
      <wsdl:input message="tns:ViewTravelRequestByDateSoapIn" />
      <wsdl:output message="tns:ViewTravelRequestByDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OCSService" type="tns:OCSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPassenger">
      <soap:operation soapAction="http://vtrs.viasor.no/service/ocs:addPassengerIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://vtrs.viasor.no/service/ocs:authenticateUserIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPassenger">
      <soap:operation soapAction="http://vtrs.viasor.no/service/ocs:cancelPassengerIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTravelRequest">
      <soap:operation soapAction="http://vtrs.viasor.no/service/ocs:cancelTravelRequestIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTravelRequest">
      <soap:operation soapAction="http://vtrs.viasor.no/service/ocs:createTravelRequestIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassenger">
      <soap:operation soapAction="http://vtrs.viasor.no/service/ocs:updatePassengerIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTravelRequest">
      <soap:operation soapAction="http://vtrs.viasor.no/service/ocs:updateTravelRequestIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewTravelRequest">
      <soap:operation soapAction="http://vtrs.viasor.no/service/ocs:viewTravelRequestIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewTravelRequestByDate">
      <soap:operation soapAction="http://vtrs.viasor.no/service/ocs:viewTravelRequestByDateIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OCSServicePort">
    <wsdl:port name="OCSService" binding="tns:OCSService">
      <soap:address location="http://webservice.crewweb.net:8900/OcsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>